<div class="row">
  <div class="col-xs-12 visible-xs">
    <div class="food-hero">
      <div class="food-hero__content">
        <h1>Restaurant Name</h1>
        <p>Category Type</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-5 hidden-xs">
    <div class="food-hero">
      <div class="food-hero__content">
        <h1>Restaurant Name</h1>
        <p>Category Type</p>
      </div>
    </div>
  </div>
  <div class="col-sm-7 hidden-xs">
    <div class="row">
      <div class="col-xs-12">
       <img src="src/assets/img/map_placeholder.png" class="img-responsive" alt="map placeholder">
      </div><!-- row -->
    </div>
    <div class="row">
     <div class="col-xs-12">
        <div class="map-footer">
          <h1>Restaurant Type</h1>
          <p>Map Footer</p>
        </div>
        <div class="address-block">
          <p>Contact info from JSON feed.</p>
        </div>
      </div>
    </div><!-- row -->
  </div><!-- row -->
</div><!-- row -->
