<div class="row">
  <div class="col-xs-12 visible-xs">
    <div class="food-hero">
      <div class="food-hero__content">
        <h1>Restaurant Name</h1>
        <p>Category Type</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-5 hidden-xs">
    <div class="food-hero">
      <div class="food-hero__content">
        <h1>Restaurant Name</h1>
        <p>Category Type</p>
      </div>
    </div>
  </div>
  <div class="col-sm-7 hidden-xs">
    <div class="row">
      <div class="col-xs-12">
       <img src="src/assets/img/map_placeholder.png" class="img-responsive" alt="map placeholder">
      </div><!-- row -->
    </div>
    <div class="row">
     <div class="col-xs-12">
        <div class="map-footer">
          <h1>Restaurant Type</h1>
          <p>Map Footer</p>
        </div>
        <div class="address-block">
          <p>Contact info from JSON feed.</p>
        </div>
      </div>
    </div><!-- row -->
  </div><!-- row -->
</div><!-- row -->





<!--    <div class="row">
    <h1>Large</h1>
    <div class="col-lg-4" style="background-color: Aqua">A</div>
    <div class="col-lg-4" style="background-color: Brown">B</div>
    <div class="col-lg-4" style="background-color: Coral">C</div>
  </div>
  <div class="row">
    <h1>Medium</h1>
    <div class="col-md-4" style="background-color: Aqua">A</div>
    <div class="col-md-4" style="background-color: Brown">B</div>
    <div class="col-md-4" style="background-color: Coral">C</div>
  </div> 
  <div class="row">
    <h1>Small</h1>
    <div class="col-sm-7" style="background-color: Aqua">A</div>
    <div class="col-sm-2" style="background-color: Brown">B</div>
    <div class="col-sm-3" style="background-color: Coral">C</div>
  </div> 
  <div class="row">
    <h1>Extra Small</h1>
    <div class="col-xs-7" style="background-color: Aqua">A</div>
    <div class="col-xs-2" style="background-color: Brown">B</div>
    <div class="col-xs-3" style="background-color: Coral">C</div>
  </div> -->