<div class="row" *ngFor="let biz of fetchedBusinesses">
  <div class="col-xs-12 visible-xs">
      <div class="food-hero" [style.background]="biz.preppedImageURL">
      <div class="food-hero__content">
        <h1>{{ biz.name }}</h1>
        <p>{{ biz.category }}</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-5 hidden-xs">
    <div class="food-hero">
      <div class="food-hero__content">
        <h1 *ngFor="let biz of fetchedBusinesses">{{ biz.name }}</h1>
        <p *ngFor="let biz of fetchedBusinesses">{{ biz.category }}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-7 hidden-xs">
    <div class="row">
      <div class="col-xs-12">
       <img src="src/assets/img/map_placeholder.png" class="img-responsive" alt="map placeholder">
      </div><!-- row -->
    </div>
    <div class="row">
     <div class="col-xs-12">
        <div class="map-footer">
          <h1 *ngFor="let biz of fetchedBusinesses">{{ biz.name }}</h1>
          <p *ngFor="let biz of fetchedBusinesses">{{ biz.category }}</p>
        </div>
        <div class="address-block">
          <p>JSON Content here.</p>
        </div>
      </div>
    </div><!-- row -->
  </div><!-- row -->
</div><!-- row -->
