<div class="row">
  <div class="col-xs-12">
    <div class="map">
      <agm-map [zoom]=zoom [latitude]="lat" [longitude]="lng">
        <agm-marker
          [title]="lbl"
          [latitude]="lat"
          [longitude]="lng">
        </agm-marker>
      </agm-map>
    </div>
      
    <div class="map-footer"  *ngFor="let baz of featuredBusiness">
      <h1>{{ baz.name }}</h1>
      <p >{{ baz.category }}</p>
    </div>
    <div class="address-block">
    <div>
      <ul *ngFor="let boz of featuredBusiness">
        <li>{{ boz.location.address }}</li>
        <li>{{ boz.location.city }}, {{ boz.location.state }} {{ boz.location.postalCode }}</li>
        <li><a href=tel:>{{((boz.contact?.formattedPhone) ? boz.contact.formattedPhone:'')}}</a></li>
        <li>{{((boz.contact?.twitter) ? "@"+boz.contact.twitter:'')}}</li>
        <li>{{((boz.contact?.facebookName) ? "Facebook: "+boz.contact.facebookName:'')}}</li>
        <li>{{((boz.location?.crossStreet) ? "Cross Street: " + boz.location.crossStreet:'')}}</li>
      </ul>
    </div>
  </div>
  </div>
</div>
