@import url(//db.onlinewebfonts.com/c/14bcfcf98e9d42ff3c30c88d332fd7d4?family=Avenir+Next+Demi+Bold);
@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("//db.onlinewebfonts.com/t/14bcfcf98e9d42ff3c30c88d332fd7d4.eot");
  src: url("//db.onlinewebfonts.com/t/14bcfcf98e9d42ff3c30c88d332fd7d4.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/14bcfcf98e9d42ff3c30c88d332fd7d4.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/14bcfcf98e9d42ff3c30c88d332fd7d4.woff") format("woff"), url("//db.onlinewebfonts.com/t/14bcfcf98e9d42ff3c30c88d332fd7d4.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/14bcfcf98e9d42ff3c30c88d332fd7d4.svg#Avenir Next Demi Bold") format("svg");
}
.container,
.row,
.col-xs-2,
.col-xs-3,
.col-xs-6,
.col-xs-8,
.col-xs-12,
.col-sm-4,
.col-sm-5,
.col-sm-7,
.col-sm-8 {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
}

.nav-bar {
  background-color: #43E895;
  height: 60px;
  border-bottom: 1px solid #a7a7aa;
}
.nav-bar p {
  font-family: "Avenir Next Demi Bold";
  text-align: center;
  color: #ffffff;
  font-size: 17px;
  margin-top: 25px;
}
.nav-bar img {
  float: right;
  margin: 10px 10px 0 0;
}
.nav-bar img.arrow {
  float: left;
  max-width: 20px;
  padding: 20px 0 0 12px;
}

.food-hero {
  position: relative;
  margin: auto;
  max-width: 768px;
  height: 180px;
  background: url("http://sandbox.bottlerocketapps.com/BR_iOS_CodingExam_2015_Server/Images/hopdoddy.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.food-hero .img {
  max-width: 100%;
  max-height: 100%;
  background-size: fill;
}

.food-hero:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -moz-linear-gradient(top, transparent 43%, black 100%);
  /* FF3.6-15 */
  background-image: -webkit-linear-gradient(top, transparent 43%, black 100%);
  /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 43%, #000000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
}

.food-hero__content {
  position: relative;
  z-index: 10;
  top: 135px;
  left: 16px;
}
.food-hero__content h1 {
  font-family: "Avenir Next Demi Bold";
  color: #ffffff;
  margin: 0;
  font-size: 16px;
}
.food-hero__content p {
  font-family: "Avenir Next Demi Bold";
  color: #ffffff;
  font-size: 12px;
}

.map-footer {
  background-color: #34B379;
  height: 60px;
  padding-top: 12px;
  padding-left: 10px;
}
.map-footer h1 {
  font-family: "Avenir Next Demi Bold";
  color: #ffffff;
  margin: 0;
  font-size: 16px;
}
.map-footer p {
  font-family: "Avenir Next Demi Bold";
  color: #ffffff;
  font-size: 12px;
}

.address-block p {
  margin-top: 15px;
  font-family: "Avenir Next Demi Bold";
  color: #000000;
  font-size: 12px;
}

.sticky-footer {
  background-color: #2A2A2A;
  height: 50px;
}
.sticky-footer img {
  max-width: 20px;
  padding-top: 10px;
}

.map {
  max-height: 180px;
  overflow: hidden;
}
.map img {
  max-width: initial;
}

/*# sourceMappingURL=styles.css.map */
