.nav-bar {
  background-color: #43E895;
  height: 60px;
  border-bottom: 1px solid rgb(167,167,170);
    p {
      font-family: "Avenir Next Demi Bold";
      text-align: center;
      color: #ffffff;
      font-size: 17px;
      margin-top: 25px;
    }
    img {
      position: relative;
      float: right;
      padding: 20px 10px 0 0;
    }

}//navbar

@media screen and (max-width: 320px) {

}//320
