body {
  overflow-x: hidden;
}

.row,
.col-xs-2,
.col-xs-3,
.col-xs-6,
.col-xs-8,
.col-xs-12,
.col-sm-4,
.col-sm-5,
.col-sm-7,
.col-sm-8 {
  margin: 0;
  padding: 0;
}

agm-map {
  height: 360px;
  width: 100%;
}

.map > agm-map {
  height: 180px;
}

.push {
  height: 50px;
}

.nav-bar {
  background-color: #43E895;
  min-height: 60px;
  border-bottom: 1px solid rgb(167,167,170);
    h1 {
      font-family: $headerFont;
      text-align: center;
      color: #ffffff;
      margin: 25px 0 0 0;
      font-size: 17px;
    }
    img.icon-map {
      float: right;
      margin: 10px 10px 0 0;
    }
    img.left-arrow {
      display: block;
      float: left;
      max-height: 20px;
      margin: 23px 0 0 15px;
    }
}

.food-hero {
  position: relative;
  margin: auto;
  max-width: 768px;
  height: 180px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  .img {
    max-width:100%;
    max-height:100%;
    background-size: fill;
  }
}

.mobile-parent {
  overflow-x: hidden;
  overflow-y: visible;
  max-height: 810px;
  margin-bottom: 50px;
}

.hideXscroll {
  overflow-x: hidden;
  overflow-y: visible;
  max-height: 810px;
}

.food-hero:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 43%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 43%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 43%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.food-hero__content {
  position: relative;
  z-index: 10;
  top: 144px;
  left: 12px;
  h1 {
    font-family: $headerFont;
    color: #ffffff;
    margin: 0;
    font-size: 16px;  
  }
  p {
    font-family: $bodyCopyFont;
    color: #ffffff;
    font-size: 12px;
  }
}

.map-footer  {
  background-color: #34B379;
  height: 60px;
  padding: 12px 0 0 12px;
  h1 {
    font-family: $headerFont;
    color: #ffffff;
    margin: 0;
    font-size: 16px;  
  }
  p {
    font-family: $bodyCopyFont;
    color: #ffffff;
    font-size: 12px;
  }
}

.address-block {
  ul {
    margin: 12px 0 0 12px;
    li {
      font-family: $bodyCopyFont;
      color: #000000;
      font-size: 16px;
    }
    li:nth-child(3) {
      margin: 26px 0 26px 0;
    }
  }
}

.sticky-footer {
  background-color: #2A2A2A;
  height: 50px;
  img {
    max-width: 20px;
    padding-top: 8px;
  }
  p {
    text-align: center;
    font-size: 10px;
    font-family: $bodyCopyFont; 
  }
  a {
    text-decoration: none;
    color: #ffffff;
      &:hover {
        color: #979797;
        cursor: pointer;
      }
  }
}
